.resParchase {
    display: none;
}

.parchase {
    display: block;
}


@media screen and (max-width: 480px) {

    .resParchase {
        display: block;
    }

    .parchase {
        display: none;
    }

}