@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.spin_container{
    display: inline-block;
    animation: spin 4s linear infinite;
}

@media screen and (max-width: 500px) {

    .img-control {

        display: none;
    }

    .theText {

        font-size: 12px;
    }

    .img-cntrl {

        width: 350px
    }

}

.theText {
    font-family: 'Yeseva One', cursive;
}



.backgroundHover {

    background-color: black
}