@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');



@media screen and (max-width: 500px) {

    .img-control {

        display: none;
    }

    .theText {

        font-size: 12px;
    }

    .img-cntrl {

        width: 350px
    }

}

.theText {
    font-family: 'Yeseva One', cursive;
}



.backgroundHover:hover {

    background-color: rgb(7, 0, 99);
    transition: .8s ease-in;

}