/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.theFonts {
    /* font-family: 'Alfa Slab One', cursive; */
    font-family: 'Goldman', cursive;
}

.color {
    color: red;

}

.size {
    font-size: 50px;
}

.responsiveDetail {
    width: 500px
}

.theButton {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    color: red;
    font-weight: bold;
}

.theButton:hover {
    background-color: red;
    color: white;
    transition: .5s ease-in-out;
}


@media screen and (max-width: 480px) {

    .forResposive {
        display: flex;
        flex-wrap: wrap;
    }

    .imgResponsive {
        width: 500px;
        margin: auto
    }

    .resBannerTitle p {
        font-size: 33px;
    }

    .responsiveDetail p {
        text-align: center;
    }

    .responsiveDetail {
        width: 380px;
    }

    .resBannerButton {
        text-align: center;
    }















}